body {
  background-color: aqua;
  color: aliceblue;
}
div {
  margin: 10px;
  border-radius: 15px;
  padding: 0px 0px 0px 6px;
}
#header {
  text-align: center;

  height: 20px;
  background-color: rgba(12, 10, 10, 0.651);
}
#content {
  height: 180px;
  background-color: rgba(0, 0, 243, 0.5);
}
#footer {
  text-align: center;
  height: 20px;
  background-color: rgb(64, 68, 80, 0.6);
}
a:link {
  color: white;
  text-decoration: none;
}
a:visited {
  color: pink;
  text-decoration: none;
}
a:hover {
  color: red;
  text-decoration: underline;
}
a:active {
  color: yellow;
  text-decoration: underline;
}
input {
  border: 2px solid red;
  background-color: black;
  color: white;
}
a:not(.blacklink) {
  color: red;
}
:lang(ru) {
  color: red;
}
:lang(en) {
  color: darkblue;
}
